.about {
  padding: 30px;
  color: white;
  background: rgb(21, 21, 21);
}

.about .section-header {
  color: grey;
  border: none;
}

.about .profile-pic {
  text-align: center;
}

.about img {
  height: 300px;
  width: 300px;
  border-radius: 100%;
}

.about .details {
  font-weight: lighter;
}

.about .details p{
  text-align: justify;
}

.about .fa {
  font-size: 30px;
  color: grey;
  text-decoration: none;
  padding-right: 10px;
}

.about .resume{
    text-align: center;
}

.about .resume a {
  background: none;
  color: white;
  padding: 10px;
  border: 1px solid grey;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
}

.about .resume i {
  margin: 0px 5px;
  text-decoration: inherit;
  color: grey;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
}

@media (max-width: 700px) {
    .about .details{
        margin: 10px 0px;
        text-align: center;
    }
  }
  