.about {
  padding: 30px;
  color: grey;
  background: rgb(21, 21, 21);
}

.about .section-header {
  color: grey;
  border: none;
}

.about .profile-pic {
  text-align: center;
}

.about img {
  height: 300px;
  width: 300px;
  border-radius: 100%;
}

.about .description {
  text-align: justify;
  font-size: 14px;
}

.about .fa {
  font-size: 20px;
  color: grey;
  text-decoration: none;
  padding-right: 10px;
}

.about .resume {
  display: inline-block;
}

.about .resume a {
  width: 150px;
  color: grey;
  background: none;
  border: 1px solid rgb(53, 53, 53);
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  margin-inline: auto;
}

.about .resume i {
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
}

@media (max-width: 700px) {
  .about {
    text-align: center;
  }
}
