.experience {
  height: fit-content;
  padding: 50px 0px;
  background: rgb(0, 0, 0);
}

.experience .section-header{
  color: rgb(62, 199, 192);
}

.experience .card {
  margin: 5px;
  color: rgb(189, 189, 189);
  box-shadow: rgb(29, 29, 29) 0px 0px 29px 0px;
  background: rgba(95, 95, 95, 0.2);
  border-radius: 10px;
}

.card h1 {
  color: rgb(61, 194, 187);
}

.experience .details{
  font-size: 14px;
  color: rgb(95, 95, 95);
  font-weight: lighter;
}
