.experience {
  height: fit-content;
  padding: 50px 0px;
  background: rgb(57, 78, 76);
}

.experience .section-header{
  color: rgb(115, 189, 185);
}

.experience .card {
  color: black;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  background: rgba(255, 255, 255, 0.2);
}

.card h1 {
  color: rgb(135, 216, 212);
}

.experience .details{
  color: rgb(0, 0, 0);
}
