body {
  background-image: url("https://www.wallpapertip.com/wmimgs/83-838381_html-wallpaper-background-code-coding-tags.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  background-position: center;
  overflow-x: visible;
}

.home {
  height: 600px;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
}

.home .overlay {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  background: radial-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0));

  animation: home-overlay;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.home .container {
  z-index: 0;
}

.home .details h1 {
  font-size: 60px;
}

.home .intro {
  color: rgb(123, 143, 146);
  font-size: 2rem;
}

.home .name {
  font-size: 3.2rem;
  font-weight: lighter;
  color: aqua;
}

.home .domain {
  display: flex;
  align-items: center;
  color: rgb(201, 201, 201);
}

.home .domain h2 {
  font-size: 2rem;
}

.home .domain div {
  font-size: 1.4rem;
  padding-inline: 20px;
}

/* 
@keyframes home-overlay {
  from {
    background: radial-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.6));
  }
  25% {
    background: radial-gradient(rgba(0, 0, 0, 0.2), rgba(38, 70, 82, 0.6));
  }
  50% {
    background: radial-gradient(rgba(0, 0, 0, 0.2), rgba(64, 68, 37, 0.6));
  }
  75% {
    background: radial-gradient(rgba(0, 0, 0, 0.2), rgba(29, 58, 27, 0.6));
  }
  to {
    background: radial-gradient(rgba(0, 0, 0, 0.2), rgba(54, 27, 48, 0.6));
  }
} */
