.projects {
  text-align: center;
  position: relative;
  padding: 20px;
  padding-block: 20px;
  background: black;
}

.projects .section-header {
  border-color: rgba(100, 100, 111, 0.2);
}

.projects .card {
  background: rgb(19, 19, 19);
  color: white;
  width: 20rem;
  border-radius: 10px;
  display: inline-block;
  vertical-align: top;
  margin: 20px;
  text-align: left;
  border: none;
  text-align: justify;
  box-shadow: rgb(29, 29, 29) 0px 0px 29px 0px;
  border-radius: 10px;
  overflow: hidden;
  font-size: 16px;
}

.projects .card .card-text {
  margin-block: 30px;
}

.projects .card h3 {
  font-size: 24px;
  padding-bottom: 10px;
  color: rgb(91, 142, 155);
  border-bottom: 1px solid rgb(41, 40, 40);
  margin: 10px 0px;
}

.projects .card a {
  text-decoration: none;
  color: inherit;
  color: black;
  background: rgb(65, 65, 65);
  border-radius: 5px;
  padding: 10px;
  margin-right: 5px;
}

.projects .card a:hover {
  background: grey;
}

.projects .card img {
  background: black;
  min-width: 100%;
  min-height: 100%;
}

@media (max-width: 700px) {
  .projects .card {
    box-sizing: border-box;
    text-align: center;
    margin: 10px 0px;
    width: 100%;
  }
}
