.skills {
  padding: 20px;
  text-align: center;
}
.skills .card {
  border: none;
  display: inline-block;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  margin: 10px 0px;
  text-align: center;
}

.skills .skill {
  position: relative;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  width: fit-content;
  height: inherit;
  border: none;
  box-shadow: none;
}

.skills .skill p{
  display: block;
  text-align: center;
}

.skill img {
  height: 2rem;
  width: auto;
  margin-bottom: 5px;
}

.skills .card-title {
  font-size: 1.6rem;
  color: cadetblue;
  font-weight: bold;
  margin-bottom: 20px;
}

@media (max-width: 700px) {
  .skills.card {
    text-align: center;
    width: 100%;
  }
}
